<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Добавить</button>
</form>
<div style="margin-top: 30px">
    {% for task in tasks %}
        <div style="margin-bottom: 15px">
            <div>{{ task.title }}</div>
            <div>{{ task.description }}</div>
            <div><a href="{% url 'task_delete' id=task.id %}">удалить</a></div>
        </div>
    {% endfor %}
</div>
</body>
</html>